.react-calendar-heatmap .color-scale-1 { fill: #b01111; }
.react-calendar-heatmap .color-scale-2 { fill: #b4451f; }
.react-calendar-heatmap .color-scale-3 { fill: #CF8135; }
.react-calendar-heatmap .color-scale-4 { fill: #E2BC5F; }
.react-calendar-heatmap .color-scale-5 { fill: #E7D87D; }
.react-calendar-heatmap .color-scale-6 { fill: #A5BDAC; }
.react-calendar-heatmap .color-scale-7 { fill: #62A1DB; }
.react-calendar-heatmap .color-scale-8 { fill: #62DB9B; }
